
@{
    ViewBag.Title = "Index";
}

@model protechGlobal.Models.User_PG
<h2>Profile</h2>
<div class="form-inline">
    <label>Email:</label>
    <label>@Model.Email</label>
</div>
<div class="form-inline">
    <label>Username:</label>
    <label>@Model.Username</label>
</div>
<div class="form-inline">
    <label>First Name:</label>
    <label>@Model.FirstName</label>
</div>
<div class="form-inline">
    <label>Last Name:</label>
    <label>@Model.LastName</label>
</div>
<div class="form-inline">
    <label>Age:</label>
    <label>@Model.Age</label>
</div>

